@using Lab4ED1.Models;
@model IEnumerable<Lab4ED1.Models.Calcomania>

@{
    ViewBag.Title = "Buscar1";
}

<h2>Buscar por tipo Sticker del album de la Copa Mundial de la FIFA Rusia 2018</h2>
<div>
    <h4>Sticker</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.falta)
            </th>

            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.falta)
                </td>

            </tr>
        }
    </table>
    <br />
    @Html.ActionLink("Volver a la lista", "Lista")
