@model Lab4ED1.Models.Calcomania

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Calcomania</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.falta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.falta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.numero  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
