@using Lab4ED1.Models;
@model IEnumerable<Lab4ED1.Models.Calcomania>

@{
    ViewBag.Title = "Listado";
}
<h2>¡Completa ya tu Colección Oficial de stickers de la COPA MUNDIAL FIFA™</h2>
<pages validaterequest="false"></pages>

@using (Html.BeginForm("Buscar", "CargaCalcomania", FormMethod.Get, new { enctype = "multipart/form-data" }))
{
    <h2>Buscar unicamente por numero</h2>
    @Html.TextBox("id")
    <input type="submit" name="id" value="Buscar Numero" />
}

<br />
<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.falta)
        </th>
       
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.falta)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.numero }) |
                @Html.ActionLink("Details", "Details", new { id = item.numero }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.numero })

            </td>
        </tr>
    }
</table>
